{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "site-style.css" %}"/>
    <meta charset="UTF-8">
    <title>Aaron Pentz</title>
</head>
<body>
<div class="container">
    <div class="one-fourth column">
            <img id="avatar" src="{{ avatar_url }}" height="230" width="230" >

            <h1 class="user-names">
                <span class="fullname">{{ name }}</span>
                <span class="username">{{ login }}</span>
            </h1>
        <ul class="user-details">
            <li><span class="user-detail">{{ location }}</span></li>
{#            <span class="user-detail">{{ created_at }}</span>#}
            <li><span class="user-detail">Joined on</span>
                    <time class="user-join" {{ created_at }}>Jun 16, 2015</time>
            </li>
        </ul>
    </div>
<div class="three-fourths column">
<ul class="repo-list">
{% for repo in repo_things %}
    <li class="repo-list-detail">
        <h3 class="repo-detail-name">
            <a href="{{ repo.url }}">{{ repo.name }}</a>
        </h3>
        <p>{{ repo.description }}</p>
        <p>Updated at {{ repo.updated_at }}</p>
    </li>

{% endfor %}
</ul>
</div>
</div>
</body>
</html>