{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/site-style.css' %}"/>
    <title></title>
</head>
<body>
<div class="profile">
    <div class="left-bar">
        <img src="{{ avatar_url }}" alt="Avatar" id="avatar">
        <span id="name">{{ name }}</span>
        <ul>
            <li>{{ location }}</li>
            <li>{{ email }}</li>
            <li>{{ html_url }}</li>
        </ul>
    </div>
    <div id="repos">
    {% for repo in repo_detail %}
        <div>
        {{ repo.description }}
        {{ repo.full_name }}
        {{ repo.updated_at }}
        {{ repo.url }}
        </div>
    {% endfor %}
    </div>
</div>

</body>
</html>